<div class="character-info">
    <div class="character-name">Name: {{ character.name }}</div>
    <div class="character-level">Level: {{ character.level }}</div>
    <div class="experience">Experience: {{ character.xp }} / {{ character.remaining_xp }}</div>
    <div class="character-gold">Gold: {{ character.gold }}</div>
</div>